table {
    border: 1px solid black;
    text-align: center;
    font-size: medium;
}
td, th {
    border: 1px solid black;
    padding: 5px;
}
h1 {
    text-align: center;
    font-size: xx-large;
}
body {
    font-family: Arial, sans-serif;
}
#yellow
{
    background-color: yellow;
}
#red
{
    background-color: rgb(233, 63, 63);
}
#blue
{
    background-color: lightblue;
}
#purple
{
    background-color: rgb(229, 132, 229);
}
